﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>


        <!--form            <strong>Форма:</strong>  			{{form}}<br>            form-->
        <!--name            <strong>ФИО:</strong> 				{{name}}<br>            name-->
        <!--phone           <strong>Тел:</strong> 				{{phone}}<br>           phone-->
        <!--email           <strong>E-mail:</strong> 			{{email}}<br>           email-->
        <!--vin             <strong>VIN:</strong> 				{{vin}}<br>             vin-->
        <!--brand           <strong>Марка автомобиля:</strong> 	{{brand}}<br>           brand-->
        <!--model           <strong>Модель:</strong> 			{{model}}<br>           model-->
        <!--year            <strong>Год выпуска:</strong> 		{{year}}<br>            year-->
        <!--mileage         <strong>Пробег:</strong> 			{{mileage}}<br>         mileage-->
        <!--selectedYear    <strong>Срок:</strong> 			    {{selectedYear}}<br>    selectedYear-->
        <!--selectedPrice   <strong>Стоимость:</strong> 		{{selectedPrice}}<br>   selectedPrice-->
        <!--utm_medium      <strong>utm_medium:</strong> 		{{utm_medium}}<br>      utm_medium-->
        <!--utm_source      <strong>utm_source:</strong> 		{{utm_source}}<br>      utm_source-->
        <!--utm_campaign    <strong>utm_campaign:</strong> 		{{utm_campaign}}<br>    utm_campaign-->
        <!--utm_term        <strong>utm_term:</strong> 			{{utm_term}}<br>        utm_term-->
        <!--utm_content     <strong>utm_content:</strong> 		{{utm_content}}<br>     utm_content-->
        <!--placement       <strong>placement:</strong> 		{{placement}}<br>       placement-->
        <!--source          <strong>source:</strong> 			{{source}}<br>          source-->
        <br><br>
        <!--docstomail      <strong>{{docstomail}}</strong>		<br>      docstomail-->
        <!--cardtotel     	<strong>{{cardtotel}}</strong>		<br>     cardtotel-->
        <!--question     	<strong>{{question}}</strong>		<br>     question-->
        <!--callme          <strong>{{callme}}</strong>			<br>      callme-->

    </p>
</body>
</html>